.searchContainer {
  display: flex;
  align-items: center;
  
  width: 23rem;
  min-width: 7rem;
  position: relative;
  
}

.search {
  display: flex;
  position: relative;
  align-items: center;
  width: 23rem;
  z-index: 999;
  background-color: rgb(20, 22, 23);
  border-radius: 25px;
}

.btn {
  border-radius: 25px;
  padding: .3rem;
  font-size: 1.2rem;  
  margin: 5px;
  color: #eee;
  text-align: center;
  background-color: inherit;
}

.input {
  border: none;
  padding: 0 0 0 .5rem; 
  font-size: 15px;
  height:40px;
  background-color: inherit;
  transition: width 0.3s ease;
  width: 80%;

  min-width: 10%;
  color: white
}

.input::placeholder {
  color: #bebebe;
}

  .searchResults {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: calc(100% - .4rem); 
    left: 0;
    right: 0;
    color: black;
    width: 100%;
    background-color: white;
    border-radius: 0 0 12px 12px;
    z-index: 999;
    padding: .5rem .5rem .5rem .5rem;
    max-height: 20rem;
    overflow-y: none;
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  .searchResults

  .searchGroup {
    width: 100%;

  }

  .userLink {
    text-decoration: none;
    color: black
  }

  .groupNameContainer {

    color: black;
    border-bottom: black solid 1px;
  }

  .groupName {

    padding: 0 0 .2rem .5rem;
  }



  .searchItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 0 8px 8px;
    width: 140px;
  }



  .searchItem:hover {
    background-color: rgb(199, 198, 198);

  }

  .searchImageContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    
    text-decoration: none;
    color:rgb(255, 255, 255);
 
  }

  .searchImage {
    height: 1.7rem;
    object-fit: cover;
    border-radius: 1rem;
    width: 1.7rem;
  }

  .searchTitle {
    padding: 0 0 0 10px;
    font-size: 1rem;
    color: black;
  }

  
  .searchResults.active {
    display: flex
  }





  /* filter styles */

  .filterCount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2rem;
    width: 1.4rem;
    font-size: .8rem;
    border-radius: 25px;
    color: white;
    position: absolute;
    top: 0;
    right: -.3rem;
    background-color:#74ac00;
  }

  .filters {
    width: max-content;
    position: fixed;
    border: 1px solid rgb(196, 196, 196);
    background-color: rgb(235, 235, 235);
    top: 3.3rem;
    right: .5rem;
    padding: .4rem;
    border-radius: 2px;
    z-index: 999;
    display: flex;
  }

 

  .checkboxFilters {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    padding-right: .4rem
  }

  .checkboxFilters > div {
    display: flex;
    gap: .2rem;
  }


  .textInputFilters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 .4rem 0 .4rem;
  }

  #ageAndLightFilter {
    border-left: 1px solid gray;
    padding-right: 0px;
  }

  .descendentFilter {
    display: flex;
    gap: .2rem;
    height: min-content;
  }


  .descendentFilter {
    display: flex;
    flex-direction: column;
    text-align: left;
  }


  .inputs {
    display: flex;
    gap: .2rem
  }

  .filterSearchInput {
    width: 6rem;
    padding: .1rem;     
  }

  .filterSearchDivInput div {
    width: 6rem;
    font-size: .8rem;
    padding: .1rem; 
    background-color: white;
    color: black;
    border-radius: 2px;
  }

  .filterSearchDivInput ul {
    font-size: .8rem;
  }